<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
      <style>
      body {
          font-family: 'DM Sans';font-size: 22px;
      }
    
.topnav {
  overflow: hidden;
  background-color: white;
  padding:5px;
}
.topnav a {
  float: right;
  color: #c4b7eb;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 50%
}

.topnav a:hover {
  background-color: #c4b7eb;
  color: white;
}

        
 </style>
      <script src='../static/client.js'></script>
    </head>
<body>


<div class="topnav">
        <a href="learn_more.html">Explore</a>
        <a onclick='classifypage()'>Classify</a>
        <a href="home.html">Home</a>
</div>
<br>
Welcome to TASC.
</body>
</html>
