aiofiles==0.4.0
aiohttp==3.5.4
asyncio==3.4.3
fastai==1.0.57
numpy==1.16.3
Pillow==6.1
matplotlib==3.2.2
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cpu
torchvision==0.9.0+cpu
starlette==0.12.0
uvicorn==0.7.1
python-multipart==0.0.5
uvloop==0.15.2
